
{% extends "ticket/layout.html" %}


{% block 1 %}

    لیست سینماها

{% endblock 1 %}



{% block two %}
    <b style="font-size: 20px">لیست سینماهای ما</b>

    {%  if local %}
        {%  for fullocal in local %}

            <table class="border" style="font-family: 'Shabnam', Tahoma ; font-size: 14px ; width: 100% ; height: 50%">

                <tr>
                    <td>{{ fullocal.name_location}}</td>
                    <td style="text-align: center">{{ fullocal.adress_location}}</td>
                    <td style="text-align: left">{{ fullocal.phone_location}}</td>
                </tr>
            <p>   </p>

            </table>


        {% endfor %}
    {% endif %}

{% endblock two %}

