
{% extends "registration/base.html" %}


{% block 1 %}

    لیست سینماها

{% endblock 1 %}



{% block two %}



            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th style="text-align: right">نام سینما</th>
                      <th style="text-align: center">آدرس سینما</th>
                      <th style="text-align: left">شماره تماس</th>
                    </tr>
                    </thead>
                    <tbody>
                  {%  if local %}
                  {%  for fullocal in local %}
                    <tr>
                      <td style="text-align: right"><a href="#">{{ fullocal.name_location}}</a></td>
                      <td style="text-align: center">{{ fullocal.adress_location}}</td>
                      <td style="text-align: left"><span class="badge badge-success"></span>{{ fullocal.phone_location}}</td>
                    </tr>
                  {% endfor %}
                  {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



{% endblock two %}

